<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="movie" class="com.stackroute.domain.Movie"  autowire="byName">

    </bean>

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Bill Hader"/>
        <property name="gender" value="male"/>
        <property name="age" value="41"/>
    </bean>

    <bean id="blcd" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy"></bean>
    <bean id="bppd" class="com.stackroute.demo.BeanPostProcessorDemoBean"/>
</beans>