<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="movieA,movieB" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor">
            <ref bean="Sampleactor1"/>
        </constructor-arg>
    </bean>
    <bean id="Sampleactor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Bill Hader"/>
        <constructor-arg name="gender" value="male"/>
        <constructor-arg name="age" value="46"/>
    </bean>

    <bean id="Sampleactor2" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Kate Mckinnon"/>
        <constructor-arg index="1" value="female"/>
        <constructor-arg index="2" value="35"/>
    </bean>

    <bean id="Sampleactor3" class="com.stackroute.domain.Actor">
        <constructor-arg type="java.lang.String" value="Fred Armisen"/>
        <constructor-arg type="java.lang.String" value="male"/>
        <constructor-arg type="int" value="52"/>
    </bean>



</beans>